<% if @error %>
  <div class="error_container">
    <h1><%= @error.message %></h1>
    <h4>Status: <%= @error.status %></h4>
    <h4>Code: <%= @error.code %></h4>
  </div>
<% else %>
  <div class="container" style="">
    <div class="mt-5">
      <% @trips.each do |trip| %>
        <div id="trip-<%= trip.id %>">
          <div class="trip-index-container row align-items-center">
            <div class="col-md-4">
              <h4>
                <%= trip.name %>
              </h4>
            </div>
            <div class="col-md-4 text-center">
              <%= trip.start_date %> to <%= trip.end_date %>
            </div>
            <div class="col-md-4 text-center">
              <a href="/trips/<%= trip.id %>" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600">View Trip</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
