<% if @error %>

<div class="error_container">
  <h1><%= @error.message %></h1>
  <h4>Status: <%= @error.status %></h4>
  <h4>Code: <%= @error.code %></h4>
</div>

<% else %>
<hr>

  <h1>Upcoming Trips:</h1>
<div class="card-group">
  <% @trips.each do |trip| %>
    <div id="trip-<%= trip.id %>">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Name: <%= trip.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Start Date: <%= trip.start_date %></h6>
          <h6 class="card-subtitle mb-2 text-muted">End Date: <%= trip.end_date %></h6>
          <% if !trip.description || trip.description.empty?%>
            <p class="card-text">No Description</p>
          <% else %>
            <p class="card-text"> Description: <%= trip.description %></p>
          <% end %>
          <a <a href="trips/<%= trip.id %>"class="btn btn-primary">View Trip</a>


        </div>
      </div>
    </div>
  <% end %>

</div>

<% end %>
