<% if @error %>

<div class="error_container">
  <h1><%= @error.message %></h1>
  <h4>Status: <%= @error.status %></h4>
  <h4>Code: <%= @error.code %></h4>
</div>

<% else %>

    <% if current_user.on_trip?(@trip) %>

      <div class="area_container">

        <div class="article-content-main">
          <div class="article-header">
            <h1 class="entry-title"><b><%= @trip.name %></b></h1>
            <p><%= @trip.description %></p>
            <h5 class="entry-date"><%= @trip.start_date %> - <%= @trip.end_date %></h5>
          </div>
            <p>
              Learn more about this area on <a target="_blank" href="<%= @trip.url %>">Mountain Project</a>
            </p>
        </div>

        <div id="google_map" class="map_container">
          <iframe
          width="650"
          height="450"
          frameborder="0" style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&q=<%= @trip.lat %>,<%= @trip.long %>&zoom=13&maptype=satellite"
          allowfullscreen>
          </iframe>
        </div>

        <br>

        <div id="weather">
          <% unless @trip.weather.class == String %>
            <div class="card-group">
              <% @trip.weather.each do |forecast| %>
                <div class="card">
                  <%= forecast.date %>
                  <br>
                  <%= forecast.weather_description %>
                  <h4><img src="http://openweathermap.org/img/w/<%= forecast.weather_icon %>.png" alt="Weather Icon"></h3>
                  <hr>
                  <div style="text-align: left;">
                    High: <%= forecast.high_temp %>째<br>
                    Low: <%= forecast.low_temp %>째<br>
                    Feels like: <%= forecast.feels_like %>째<br>
                    Humidity: <%= forecast.humidity %>%<br>
                    Cloud coverage: <%= forecast.cloud_coverage %>%<br>
                    Visibility: <%= forecast.visibility %><br>
                    Wind direction: <%= forecast.wind_direction %>째<br>
                    Wind gust: <%= forecast.wind_gust %> MPH<br>
                    Wind speed: <%= forecast.wind_speed %> MPH<br>
                  </div>
                </div>
            <% end %>
              </div>
            <% else %>
              <p><%= @trip.weather %></p>
            <% end %>
          </div>

         <div id="buttons">
          <center>
           <% if current_user.host?(@trip) %>
             <br>
             <%= button_to "Edit #{@trip.name}", "/trips/#{@trip.id}/edit", method: :get %>
             <br>
             <%= button_to "Delete #{@trip.name}", "/trips/#{@trip.id}", method: :delete %>
             <br>
             <%= button_to "Add/Remove Friends", "/trips/#{@trip.id}/users", method: :get %>
            <% end %>
            <br><%= button_to "Add/Remove my items", "/trips/#{@trip.id}/items", method: :get %>
            <br>
          </center>
        </div>

      </div>



      <div id="users" class="area_container">
        <h3><u><b>Who's Going</b></u></h3>
          <div class="card-group">
          <br><br>
          <% @trip.users.each do |user| %>
            <div class="card">
              <h4><%= user.first_name %> <%= user.last_name %></h4>
              <p><%= user.email %></p>
              <p style="text-align: left;"><u>Items to bring</u></p>
              <% @trip.items.each do |item| %>
                <% if item.owner == user.first_name %>
                  <p><%= item.category %> - <%= item.name %></p>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>

      <div class="area_container">
        <h3 style="text-align: left;"><u><b>Comments</u></b></h3>

        <!-- @comment.user.pic -->
        <!-- @comment.user.name -->
        <!-- @comment.message -->
        <!-- @comment.created_at -->

        <% unless @error %>
            <% if session[:user_id] == @user.id %>
              <%= form_with url: "trips/#{@trip.id}/#{@user.id}/comments", method: :post, local: true do |form| %>
                <div class="comment_form_container">
                  <%= form.text_area :message, class: "text_area_container" %><br>
                  <%= form.submit "Add Comment" %>
                </div>
              <% end %>
            <% else %>
              <h1>How did you get here...</h1>
            <% end %>
        <% else %>
          <div class="error_container">
            <h1><%= @error.message %></h1>
            <h4>Status: <%= @error.status %></h4>
            <h4>Code: <%= @error.code %></h4>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1> Sorry You Were Not Invited to This Trip! </h1>
    <% end %>
<% end %>