

<div class="area_container">

  <h2 class="section-title no-border v-3">Trips Show Page</h2>
  <div class="article-content-main">
    <div class="article-header">
      <h2 class="entry-title"><a href="#">Name: <%= @trip.name %></a></h2>
      <h3 class="entry-date">Start Date: <%= @trip.start_date %></h3>
      <h3 class="entry-date">End Date: <%= @trip.end_date %></h3>
    </div>
      <p>Description: <%= @trip.description %></p>
  </div>

</div>

<div id="users" class="area_container">
  <% @trip.users.each do |user| %>
    <h4><%= user.first_name %> <%= user.last_name %></h4>
    <p><%= user.email %></p>
  <% end %>
</div>
