<% if @error %>

<div class="error_container">
  <h1><%= @error.message %></h1>
  <h4>Status: <%= @error.status %></h4>
  <h4>Code: <%= @error.code %></h4>
</div>

<% else %>

    <% if current_user.on_trip?(@trip) %>

      <div class="area_container">

        <div class="article-content-main">
          <div class="article-header">
            <h1 class="entry-title"><b><%= @trip.name %></b></h1>
            <p><%= @trip.description %></p>
            <h5 class="entry-date"><%= @trip.start_date %> - <%= @trip.end_date %></h5>
          </div>
            <p>
              Learn more about this area on <a target="_blank" href="<%= @trip.url %>">Mountain Project</a>
            </p>
        </div>

        <div id="google_map" class="map_container">
          <iframe
          width="650"
          height="450"
          frameborder="0" style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&q=<%= @trip.lat %>,<%= @trip.long %>&zoom=13&maptype=satellite"
          allowfullscreen>
          </iframe>
        </div>

        <br>

        <div id="weather">
          <% unless @trip.weather.class == String %>
            <div class="card-group">
              <% @trip.weather.each do |forecast| %>
                <div class="card">
                  <h3><%= forecast.date %></h3>
                  <h4>
                    <%= forecast.weather_description %>
                    <img src="http://openweathermap.org/img/w/<%=   forecast.weather_icon %>.png" alt="Weather Icon">
                  </h4>
                  <hr>
                  <h5>High: <%= forecast.high_temp.round %>째</h5>
                  <h5>Low: <%= forecast.low_temp.round %>째</h5>
                  <h5>Feels like: <%= forecast.feels_like.round %>째</h5>
                  <p>Humidity: <%= forecast.humidity.round %>%</p>
                  <p>Cloud coverage: <%= forecast.cloud_coverage %>%</p>
                  <p>Visibility: <%= forecast.visibility %></p>
                  <p>Wind direction: <%= forecast.wind_direction %>째</p>
                  <p>Wind gust: <%= forecast.wind_gust.round %> MPH</p>
                  <p>Wind speed: <%= forecast.wind_speed.round %> MPH</p>
                </div>
            <% end %>
              </div>
            <% else %>
              <p><%= @trip.weather %></p>
            <% end %>
          </div>

        <div id="buttons">
          <center>
          <% if current_user.host?(@trip) %>
            <br>
            <%= button_to "Edit #{@trip.name}", "/trips/#{@trip.id}/edit", method: :get %>
            <br>
            <%= button_to "Delete #{@trip.name}", "/trips/#{@trip.id}", method: :delete %>
            <br>
            <%= button_to "Add/Remove Friends", "/trips/#{@trip.id}/users", method: :get %>
          <% end %>
          <br>
          <%= button_to "Add/Remove My Items", "/trips/#{@trip.id}/items", method: :get %>
          <br>
          </center>
        </div>

      </div>



      <div id="users" class="area_container">
        <h3><u><b>Who's Going</b></u></h3>
          <div class="card-group">
          <br><br>
          <% @trip.users.each do |user| %>
            <div class="card">
              <h4><%= user.first_name %> <%= user.last_name %></h4>
              <p><%= user.email %></p>
              <p><u>Items to bring</u></p>
              <% @trip.items.each do |item| %>
                <% if item.owner == user.first_name %>
                  <p><%= item.category %> - <%= item.name %></p>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>

    <% else %>

      <h1> Sorry You Were Not Invited to This Trip! </h1>

    <% end %>

<% end %>
