<div class="area_container">
  <h1>Add/Remove Friends to <%= @trip.name %></h1>
</div>

<div class="area_container search_container">
  <center>
    <%= form_with url: "/trips/#{@trip.id}/users", method: :patch, local: true do |f| %>
      <% @users.each do |user| %>
        <% if user.id.to_i != @trip.host_id.to_i %>
          <div id="check-box-<%=user.id%>">
            <% if user.is_present?(@invited) %>
            <p><%= "#{user.first_name.titleize}" %>
                <%= check_box_tag "users[]", user.id, checked: true %>
            </p>
            <% else %>
            <p><%= "#{user.first_name.titleize}" %>
                <%= check_box_tag "users[]", user.id%>
            </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= f.submit "Update Friends!" %>
    <% end %>
  <center>
</div>
