<h1>Update <%= @trip.name %></h1>

<%= form_with url: "/trips/#{@trip.id}/users", method: :patch, local: true do |f| %>
  <%= f.hidden_field(:user_ids, {multiple: true}) %>
  <% @users.each do |user| %>
    <div id="<%= user.id %>">
      <%= f.check_box(:user_ids, {multiple: true}, user.id, nil) %>
      <%= f.label "#{user.first_name} #{user.last_name}" %>
      <br>
    </div>
  <% end %>
  <br>
  <%= f.submit "Edit Trip" %>
<% end %>
