<h1>Add Friends to <%= @trip.name %></h1>

<%= form_with url: "/trips/#{@trip.id}/users", method: :patch, local: true do |f| %>


<% @users.each do |user| %>

    <div id="check-box-<%=user.id%>">
        <% if user.is_present?(@invited) %>

          <p> <%= "#{user.first_name}" %>
              <%= check_box_tag "users[]", user.id, checked: true %></p>
        <% else %>
          <p> <%= "#{user.first_name}" %>
              <%= check_box_tag "users[]", user.id%> </p>
        <% end %>
    </div>

  <% end %>
<%= f.submit "Add these friends!" %>
<% end %>


 
