<% unless @error %>
  <div class="user_info area_container search_container">
    <img src="<%= @user.user_photo[0..-4] %>720-c" alt="user pic">
    <br><br>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p><%= @user.email %></p>
  </div>

  <div class="area_container">
    <div id="items">
      <center><h3><a href="/users/<%= @user.id %>/items"><%= @user.first_name %>'s Shed</a></h3></center>

      <div class="card-group">
        <% @items.each do |item| %>
        <div class="card">
          <h3><a href="/users/<%= @user.id %>/items/<%= item.id %>"><%= item.name %></a></h3>
          <p>Count: <%= item.count %></p>
          <p>Description: <%= item.description %></p>
          <p>Category: <%= item.category %></p>
          <h6>Item ID: <%= item.id %></h6>
        </div>
        <% end %>
      </div>
      <hr>
    </div>

    <div id="trips">
      <h2><u>Upcoming Trips</u></h2>
      <div class="user_trips_container">

        <% @trips.each do |trip| %>
        <div class="trip_container" id="trip-<%= trip.id %>">
          <h3><a href="/trips/<%= trip.id %>"><%= trip.name %></a></h3>
          <p>Description: <%= trip.description %></p>
          <p>Start date: <%= trip.start_date %></p>
          <p>End date: <%= trip.end_date %></p>
        </div>

        <% end %>
      </div>
    </div>
  </div>

<% else %>

  <div class="error_container">
    <h1><%= @error.message %></h1>
    <h4>Status: <%= @error.status %></h4>
    <h4>Code: <%= @error.code %></h4>
  </div>

<% end %>
