<div class="area_container">
  <h1><%= @area.name %></h1>

  <h3><%= @area.state %></h3>
  <p>
    Learn more about this area on <a href="<%= @area.url %>">Mountain Project</a>
  </p>

  <div class="map_container">
    <iframe
    width="650"
    height="450"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&q=<%= @area.lat %>,<%= @area.long %>&zoom=13&maptype=satellite"
    allowfullscreen>
    </iframe>
  </div>

  <div id="weather">
    <% unless @weather.class == Weather %>
    <br>
    <h1>6 Day Forecast</h1>
    <div class="card-group">
      <% @weather.each do |forecast| %>
          <div class="card">
            <h3><%= forecast.date %></h3>
            <h4>
              <%= forecast.weather_description %>
              <img src="http://openweathermap.org/img/w/<%= forecast.weather_icon %>.png" alt="Weather Icon">
            </h4>
            <hr>
            <h5>High: <%= forecast.high_temp %>째</h5>
            <h5>Low: <%= forecast.low_temp %>째</h5>
            <h5>Feels like: <%= forecast.feels_like %>째</h5>
            <p>Humidity: <%= forecast.humidity %>%</p>
            <p>Cloud coverage: <%= forecast.cloud_coverage %></p>
            <p>Visibility: <%= forecast.visibility %></p>
            <p>Wind direction: <%= forecast.wind_direction %>째</p>
            <p>Wind gust: <%= forecast.wind_gust %> MPH</p>
            <p>Wind speed: <%= forecast.wind_speed %> MPH</p>
          </div>
      <% end %>
    </div>
    <% else %>
      <p><%= @weather.error %></p>
    <% end %>
  </div>

  <div class="button_container">
    <% if session[:user_id] %>
    <%= button_to "Create a Trip for this Area", "/areas/#{@area.id}/trips/new", method: :get %>
    <% end %>
  </div>
</div>
