<h1><%= @area.name %></h1>

<h3>State: <%= @area.state %></h3>
<p>
  Learn more about this route via <a href="<%= @area.url %>">The Mountain Project</a>
</p>

<div id="lat_long_data">
  <h5>Latitude: <%= @area.lat %></h5>
  <h5>Longitude: <%= @area.long %></h5>
</div>

<% if session[:user_id] %>
  <%= button_to "Create a Trip for this Area", "/areas/#{@area.id}/trips/new", method: :get %>
<% end %>
