<h1> What are you bringing? </h1>

<%= form_with url: "/trips/#{@trip_id}/users/#{@items.first.user_id}/items", method: :post, local: true do |form| %>

<%= form.label "My Items" %>
<% @items.each do |item| %>
  <div id="check-box-<%=item.id%>">

    <p> <%= "#{item.name}" %>
        <%= check_box_tag "items[]", item.id %></p>
  </div>
<% end %>

<%= form.submit "Bring These!-" %>
<% end %>
