<div class="item_form_container">

  <% if session[:user_id] == @user.id %>

      <%= form_with url: "/users/#{@user.id}/items/#{@item.id}", method: :patch, local: true do |form| %>
      <div class="form_text_container">
        <%= form.label :name, "Item Name" %>
        <%= form.text_field :name, value: "#{@item.name}" %>
      </div>
      <br>
      <div class="form_text_container">
        <%= form.label :description, "Description" %>
        <%= form.text_area :description, value: "#{@item.description}" %>
      </div>
      <br>
      <div class="form_text_container">
        <%= form.label :count, "Count" %>
        <%= form.number_field :count, value: "#{@item.count}" %>
      </div>
      <br>

      <% Item.category_list.each_with_index do |category, index| %>
        <div class="form_catg_container">
          <% if @item.category == category %>

            <%= form.radio_button :category, "#{category}", checked: true %>
            <%= form.label :category, "#{category}" %>
            <br>

          <% else %>

            <%= form.radio_button :category, "#{category}" %>
            <%= form.label :category, "#{category}" %>
            <br>

          <% end %>

        </div>
      <% end %>

      <%= form.submit "Update Item" %>

    <% end %>
  <% else %>

    <h1>How did you get here...</h1>

  <% end %>
</div>
