<% if session[:user_id] == @user.id %>

  <%= form_with url: "/users/#{@user.id}/items/#{@item.id}", method: :patch, local: true do |form| %>
    <%= form.label :name, "Item Name" %>
    <%= form.text_field :name, value: "#{@item.name}" %>
    <br>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, value: "#{@item.description}" %>
    <br>
    <%= form.label :count, "Count" %>
    <%= form.number_field :count, value: "#{@item.count}" %>
    <br>
    <%= form.radio_button :category, "0" %>
    <%= form.label :category, "Tents" %>
    <br>
    <%= form.radio_button :category, "1" %>
    <%= form.label :category, "Sleeping Bag" %>
    <br>
    <%= form.radio_button :category, "2" %>
    <%= form.label :category, "Stoves, Grills & Fuel" %>
    <br>
    <%= form.radio_button :category, "3" %>
    <%= form.label :category, "Cookware" %>
    <br>
    <%= form.radio_button :category, "4" %>
    <%= form.label :category, "Dishes" %>
    <br>
    <%= form.radio_button :category, "5" %>
    <%= form.label :category, "Ropes" %>
    <br>
    <%= form.radio_button :category, "6" %>
    <%= form.label :category, "Harnesses" %>
    <br>
    <%= form.radio_button :category, "7" %>
    <%= form.label :category, "Belay & Rappel" %>
    <br>
    <%= form.radio_button :category, "8" %>
    <%= form.label :category, "Crash Pads" %>
    <br>
    <%= form.radio_button :category, "9" %>
    <%= form.label :category, "Quickdraws" %>
    <br>
    <%= form.submit "Update Item" %>
  <% end %>
<% else %>

<h1>How did you get here...</h1>

<% end %>
