<% unless @error %>

<% if params[:user_id] == session[:user_id] %>
  <div class="area_container search_container">
    <h1><u>My Shed</u></h1>
  </div>
  <center><%= button_to "Add an item to your Shed", "/users/#{session[:user_id]}/items/new", method: :get %></center>
  <br>
<% else %>
  <h1><%= @user.first_name %>'s Shed</h1>
<% end %>
<div class="card-group">
  <% @items.each do |item| %>
    <div id="item-<%= item.id %>">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Category - <%= item.category %></h6>
          <h6 class="card-subtitle mb-2 text-muted">Count: <%= item.count %></h6>
          <h6 class="card-subtitle mb-2 text-muted">Item ID: <%= item.id %></h6>
          <% if !item.description || item.description.empty?%>
            <p class="card-text">No Description</p>
          <% else %>
            <p class="card-text"><%= item.description %></p>
          <% end %>
          <a href="items/<%= item.id %>" class="btn btn-primary">View Item</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% else %>

  <div class="error_container">
    <h1><%= @error.message %></h1>
    <h4>Status: <%= @error.status %></h4>
    <h4>Code: <%= @error.code %></h4>
  </div>

<% end %>
