<div class="item_form_container">
  <% if session[:user_id] == @user.id %>

    <%= form_with url: "/users/#{@user.id}/items", method: :post, local: true do |form| %>
      <div class="form_text_container">
        <%= form.label :name, "Item Name" %>
        <%= form.text_field :name %>
      </div>
      <br>
      <div class="form_text_container">
        <%= form.label :description, "Description" %>
        <%= form.text_area :description %>
      </div>
      <br>
      <div class="form_text_container">
        <%= form.label :count, "Count" %>
        <%= form.number_field :count %>
      </div>
      <br>
      <% Item.category_list.each_with_index do |category, index| %>
        <div class="form_catg_container">
          <%= form.radio_button :category, "#{index}" %>
          <%= form.label :category, "#{category}" %>
          <br>
        </div>
      <% end %>
      <%= form.submit "Add Item" %>
    <% end %>
  <% else %>

  <h1>How did you get here...</h1>

  <% end %>
</div>
