<% unless @error %>
<div class="area_container">
  <p><a href="/users/<%= @item.user_id %>/items">Return to My Shed</a></p>

  <h3><%= @item.name %></h3>
  <p>Description: <%= @item.description %></p>
  <p>Count: <%= @item.count %></p>
  <p>Category - <%= @item.category %></p>
  <% if session[:user_id] == params[:user_id] %>
    <p>
      <%= link_to "Delete #{@item.name}", "/users/#{session[:user_id]}/items/#{@item.id}", method: :delete %>
    </p>

    <center>
    <%= button_to "Edit #{@item.name}", "/users/#{session[:user_id]}/items/#{@item.id}/edit", method: :get %>
    </center>
  <% end %>

</div>

<% else %>

  <div class="error_container">
    <h1><%= @error.message %></h1>
    <h4>Status: <%= @error.status %></h4>
    <h4>Code: <%= @error.code %></h4>
  </div>

<% end %>
