<!DOCTYPE html>
<html>
  <head>
    <title>GearUpFe</title>
    <style>
      body {
        background-image: url('/assets/brook-anderson-gTQbZXL417Q-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
      }
    </style>
</head>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:success] %>
      <%= flash[:success] %>
    <% end %>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
